<header>
  <title>Login</title>
  
</header>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  .contentshadow {
    box-shadow: 0 0 15px 5px #5c58b6;
  }
  .button {
    color: #fff;
    background-color: #5c58b6;
    width: 150px;
    border: solid 3px #ff4cbf;
  }
  .button:hover {
    color: #38fbdb;
    box-shadow: 0 0 10px 1px #ff4cbf;
  }
</style>
<body class="quantico-regular" style="background-color: #122c5a; box-shadow: inset 0 0 15px 5px #ff4cbf;">

<%- include('../layouts/navbar-viewer') %>
<br><br><br><br>
<div id="content" class="container" >
  <div class="card text contentshadow">
      <div class="card-header text-center" style="background-color: #5c58b6;">
        <h2 style="color: #38fbdb;">Login</h2>
      </div>
      <div class="card-body">
        <form action="/auth/login" method="post" class="lg-form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input  class="form-control" type="text"name="email" id="email" aria-describedby="emailHelp"  placeholder="Enter email" value="<%= locals.email ? email : '' %>"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password"/>
              </div>
              <br>
              <button style="background-color: #5c58b6;" input type="submit" value="Login" class="button">Login</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        Don't have an account? <span><a href="/auth/register">Register</a></span>
      </div>
  </div>
</div>

<%- include('../layouts/footer') %>
