<header>
  <title>Register</title>
  
</header>

<%- include('../layouts/navbar') %>
<br><br><br><br>




<div id = "content" class="container ">
<!-- <div class="card-text" style="padding-left: 50%;"> -->
  <div class="card text shadow">
      <div class="card-header text-center">
        <h2>Register</h2>
      </div>
      <div class="card-body">
          <form action="/auth/register" method="post" class="lg-form">
              <div class="form-group">
                <label for="name">ชื่อ-นามสกุล</label>
                <input  class="form-control" type="text"name="name" id="name" placeholder="" value=""/>
              </div>
              <div class="form-group">
                <label for="name">รหัสนักศึกษา</label>
                <input  class="form-control" type="text"name="studentID" id="studentID" placeholder="" value=""/>
              </div>

              <div class="form-group">
                <label for="email">Email Address</label>
                <input  class="form-control" type="text"name="email" id="email" aria-describedby="emailHelp" pattern="^[a-zA-Z._%+-]+@bumail\.net$" title="Use @bumail.net" placeholder="Enter @bumail.net" value="<%= locals.email ? email : '' %>"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" id="password" placeholder="Password"  />
                <small id="emailHelp" class="form-text text-muted">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
                <label for="password2">Confirm password</label>
                <input class="form-control" type="password" name="password2" id="password2" placeholder="Confirm password" />
              </div>
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Role</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="role">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    <!-- <option value="ADMIN">ADMIN</option> -->
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">เรียนจบสายอะไร</label>
                <select class="form-control" id="exampleFormControlSelect2" name="plan">
                  <option value="วิทย์-คณิต">ม.ปลาย สายวิทย์-คณิต</option>
                  <option value="ศิลป์-คำนวณ">ม.ปลาย สายศิลป์-คำนวณ</option>
                  <option value="ศิลป์-ภาษา">ม.ปลาย สายศิลป์-ภาษา</option>
                  <option value="ปวช.อุตสาหกรรม หรือวิศวกรรม">ปวช.อุตสาหกรรม หรือวิศวกรรม</option>
                  <option value="ปวช. พาณิชย์">ปวช. พาณิชย์</option>
                  <option value="ปวส.อุตสาหกรรม หรือวิศวกรรม">ปวส.อุตสาหกรรม หรือวิศวกรรม </option>
                  <option value="ปวส. พาณิชย์">ปวส. พาณิชย์</option>
                  <option value="Other">อื่น ๆ (โปรดระบุ)</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" type="text"name="other" id="other" placeholder="อื่น ๆ ให้ระบุในช่องนี้" value="" style="margin-top: 5px;"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect3">เกรดวิชา MA105</label>
                <select class="form-control" id="exampleFormControlSelect3" name="MA105">
                  <option value="A">A</option>
                  <option value="B+">B+</option>
                  <option value="B">B</option>
                  <option value="C+">C+</option>
                  <option value="C">C</option>
                  <option value="D+">D+</option>
                  <option value="D">D</option>
                  <option value="F">F</option>
                  <option value="W">W</option>
                  <option value="เทียบ">เทียบวิชาได้</option>
                </select>
              </div><div class="form-group">
                <label for="exampleFormControlSelect4">เกรดวิชา EN101</label>
                <select class="form-control" id="exampleFormControlSelect4" name="EN101">
                  <option value="A">A</option>
                  <option value="B+">B+</option>
                  <option value="B">B</option>
                  <option value="C+">C+</option>
                  <option value="C">C</option>
                  <option value="D+">D+</option>
                  <option value="D">D</option>
                  <option value="F">F</option>
                  <option value="W">W</option>
                  <option value="เทียบ">เทียบวิชาได้</option>
                </select>
              </div><div class="form-group">
                <label for="exampleFormControlSelect5">เกรดวิชา PH109</label>
                <select class="form-control" id="exampleFormControlSelect5" name="PH109">
                  <option value="A">A</option>
                  <option value="B+">B+</option>
                  <option value="B">B</option>
                  <option value="C+">C+</option>
                  <option value="C">C</option>
                  <option value="D+">D+</option>
                  <option value="D">D</option>
                  <option value="F">F</option>
                  <option value="W">W</option>
                  <option value="เทียบ">เทียบวิชาได้</option>
                </select>
              </div>
              
              <br>
              <button input type="submit" value="Register" class="btn btn-primary" >Register</button>
          </form>
      </div>
      <div class="card-footer text-muted">
          Already have an account? <span><a href="/auth/login">Login</a></span>
      </div>
  </div>
</div>
</div>

<%- include('../layouts/footer') %>
