<header>
  <title>GeekCodeCraft</title>
  <link rel='stylesheet' href='stylesheets/viewer.css' />
</header>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .button {
    color: #000000;
    background-color: #bd7b67;
    border: solid #000000;
  }
  .button:hover {
    border: solid #bd7b67;
    box-shadow: 0 0 10px 5px #fff;
  }

</style>
<body class="quantico-regular" style="background-color: #cad19f;" >
<main>
<%- include('../layouts/navbar-viewer') %>  



<div id="tagline">
  <h1>Learn Coding!</h1>
  <h2>with GeekcodeCraft</h2><br>
  <button class="button" onclick="document.location='/auth/login';">Get Started</button>
</div>

<img id="moon" src="https://img.freepik.com/free-psd/3d-nft-icon-developer-male-illustration_629802-6.jpg?t=st=1712830382~exp=1712833982~hmac=d33182ac3e551ce030e81cea1feedf41b95303d997536c7d534fa4931e6495a4&w=1480">

<section class="sticky">
  <div class="bubbles">
    <div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>
    <div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>
    <div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>
    <div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>
    <div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>
  </div>
</section>

<div style="position:absolute; top:100%; padding-top:100px;left:0px;right:0px; background-color: aliceblue;">
  <div class="container">
    <div class="row app-align-center" style="height: 300px;">
      <div class="col-sm-6">
        
      </div>
      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">What is GeekCodeCraft?</h6>
        <h3 class="m-t-0">GeekCodeCraft</h3>
        <p class="lead m-b-md">เป็นเว็บไซต์ช่วยพัฒนาทักษะที่จำเป็นต่อการเขียนโปรแกรม ส่งเสริมสมรรถนะทั้ง 4 ด้านที่จำเป็นต่อนักศึกษา</p>
        <br>
      </div>
    </div>
    <br>
    <div class="row app-align-center" style="height: 300px;">
      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">What is GeekCodeCraft?</h6>
        <h3 class="m-t-0">GeekCodeCraft</h3>
        <p class="lead m-b-md">เป็นเว็บไซต์ช่วยพัฒนาทักษะที่จำเป็นต่อการเขียนโปรแกรม ส่งเสริมสมรรถนะทั้ง 4 ด้านที่จำเป็นต่อนักศึกษา</p>
        <br>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</div><br>



<%- include('../layouts/footer') %>
