<header>
  <title>GeekCodeCraft</title>
  <link rel='stylesheet' href='stylesheets/viewer.css' />
</header>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .button {
    color: #fff;
    background-color: #b957ce;
    width: 150px;
    border: solid 3px #ff4cbf;
    border-radius: 10px;
  }
  .button:hover {
    color: #38fbdb;
    box-shadow: 0 0 15px 5px #fc0ff5;
  }
  body {
    box-shadow: inset 0 0 15px 5px #ff4cbf;
  }

</style>
<body class="quantico-regular" style="background-color: #122c5a;" >
<main>
<%- include('../layouts/navbar-viewer') %>  

<div id="tagline">
  <h1>LearnCoding!</h1>
  <button class="button" onclick="document.location='/auth/login';">Get Started</button>

</div>
<!--<canvas id="moon"></canvas>-->
<img src="https://img.freepik.com/free-psd/3d-nft-icon-developer-male-illustration_629802-6.jpg?t=st=1712830382~exp=1712833982~hmac=d33182ac3e551ce030e81cea1feedf41b95303d997536c7d534fa4931e6495a4&w=1480" id="moon">

<div style="position:absolute; top:100%; padding-top:100px;left:0px;right:0px; background-color: aliceblue;">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-6">
 
      </div>

      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">What is GeekCodeCraft?</h6>
        <h3 class="m-t-0">GeekCodeCraft</h3>
        <p class="lead m-b-md">เป็นเว็บไซต์ช่วยพัฒนาทักษะที่จำเป็นต่อการเขียนโปรแกรม ส่งเสริมสมรรถนะทั้ง 4 ด้านที่จำเป็นต่อนักศึกษา</p>

        <br>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
