<header>
  <title>GeekCodeCraft</title>
  <link rel='stylesheet' href='stylesheets/viewer.css' />
</header>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<body class="" style="background-color: #0b2645; background-image: linear-gradient(#200b45, #4183a2);" >
<main>
<%- include('../layouts/navbar-viewer') %>  
<div id="tagline" style="width: 500px;">
  <h1>Learn<span id="text"> Coding!</span><i class="cursor"></i></h1>
  <button class="get-started-btn" onclick="document.location='/auth/login';">Get Started</button>

</div>
<img src="https://img.freepik.com/free-psd/3d-nft-icon-developer-male-illustration_629802-6.jpg?t=st=1712830382~exp=1712833982~hmac=d33182ac3e551ce030e81cea1feedf41b95303d997536c7d534fa4931e6495a4&w=1480" id="moon">

<div style="position:absolute; top:100%; padding-top:100px;left:0px;right:0px; background-color: aliceblue;">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-6">

      </div>

      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">What is GeekCodeCraft?</h6>
        <h3 class="m-t-0">GeekCodeCraft</h3>
        <p class="lead m-b-md">เป็นเว็บไซต์ช่วยพัฒนาทักษะที่จำเป็นต่อการเขียนโปรแกรม ส่งเสริมสมรรถนะทั้ง 4 ด้านที่จำเป็นต่อนักศึกษา</p>

        <br>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
