<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='stylesheets/home.css' />
    <link rel='stylesheet' href='stylesheets/chart.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Class</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        div a{
            text-decoration: none;
        }
        .link{
            text-decoration: none;
            background-color: white;
            color: black;
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;
            width: 350px;
        }
        .linkpretest{
            text-decoration: none;
            background-color: #b898d4;
            color: black;
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;
            width: 150px;
            text-align: center;
        }
        .link:hover,.linkpretest:hover{
            background-color: #e8ecce;
        }
        .grid2 {
            display: grid;
            grid-template-columns: 60% 40%;
        }
        .grid3 {
            display: grid;
            grid-template-columns: 400px auto auto;
        }
        .group2{
            padding: 10px;
            border-radius: 10px;
        }
        @media (max-width: 1200px) {
            .grid2,.grid3 {display: block;}
            .link{width: auto;}
            html {height: fit-content;}
        }
        
    </style>
</head>

<%- include('../layouts/header') %>
<body style="background-color: #cad19f;">
<br><br><br>
<div id = "content" class="container">
    <h3>ตรวจคะแนน</h3>
    <div class="box">
        <a href="/check"><p class="link">แบบทดสอบก่อนเรียน-หลังเรียน</p></a>
        <a href="/checkQuiz"><p class="link">Project Quiz</p></a>
    </div>
        <br>
        <hr>
    
    
    <br>
    <h3>Course</h3>
    <div class="group2">
        <div class="grid2">
            <a href="/TeacherCourse-Algorithms_and_Flowcharts"><p class="link">1. Algorithms and Flowcharts</p></a>
            <a href="/TeacherCourse-Algorithms_and_Flowcharts-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Datatype_and_Variable"><p class="link">2. Datatype and Variable</p></a>
            <a href="/TeacherCourse-Datatype_and_Variable-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Input_and_Output"><p class="link">3. Input and Output</p></a>
            <a href="/TeacherCourse-Input_and_Output-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Operators_and_Expressions"><p class="link">4. Operators and Expressions</p></a>
            <a href="/TeacherCourse-Operators_and_Expressions-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Selection_Statements"><p class="link">5. Selection Statements</p></a>
            <a href="/TeacherCourse-Selection_Statements-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Loop_Statements"><p class="link">6. Loop Statements</p></a>
            <a href="/TeacherCourse-Loop_Statements-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Arrays_and_Strings"><p class="link">7. Array and String</p></a>
            <a href="/TeacherCourse-Arrays_and_Strings-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
        <div class="grid2">
            <a href="/TeacherCourse-Functions"><p class="link">8. Functions</p></a>
            <a href="/TeacherCourse-Functions-lab"><p class="linkpretest">แบบทดสอบ</p></a>
        </div>
    </div>

    <br>
    <h3>Project Quiz</h3>
    <div class="grid3">
        <a href="/TeacherCourse-Ticket_Booking_System"><p class="link"><b>Quiz 1 |</b> Ticket Booking System</p></a>
        <a href="/TeacherCourse-Point_of_Sales_System"><p class="link"><b>Quiz 2 |</b> Point of Sales System</p></a>
        <div></div>
        <a href="/TeacherCourse-Project_QUIZ3"><p class="link"><b>Quiz 3 |</b> Stock Management System</p></a>
    </div>

</div>




 
<%- include('../layouts/footer') %>