<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='stylesheets/home.css' />
    <link rel='stylesheet' href='stylesheets/chart.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Class</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<%- include('../layouts/header') %>
<body style="background-color: #cad19f;">
<br><br><br>

<div id = "content" class="container">

    <a class="nav-item "><a class="nav-link" href="/check" style="color: #ffffff;">Lab-Check </a></a>
    <a class="nav-item "><a class="nav-link" href="/checkQuiz" style="color: #ffffff;">Quiz-Check </a></a>

    <a class="a1"  href="/TeacherCourse-Algorithms_and_Flowcharts">Algorithms and Flowcharts !</a><br>
    <a class="a1"  href="/TeacherCourse-Datatype_and_Variable">Datatype and Variable !</a><br>
    <a class="a1"  href="/TeacherCourse-Input_and_Output">Input and Output !</a><br>
    <a class="a1"  href="/TeacherCourse-Operators_and_Expressions">Operators and Expressions !</a><br>
    <a class="a1"  href="/TeacherCourse-Selection_Statements">Selection Statements !</a><br>
    <a class="a1"  href="/TeacherCourse-Loop_Statements">Loop Statements !</a><br>
    <a class="a1"  href="/TeacherCourse-Arrays_and_Strings">Array and String !</a><br>
    <a class="a1"  href="/TeacherCourse-Functions">Functions !</a><br>




 
<%- include('../layouts/footer') %>