/* Styling the determinate progress element */

progress[value] {
  /* Get rid of the default appearance */
  appearance: none;
  
  /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
  border: none;
  
  /* Add dimensions */
  width: 100px; height: 15px;
  
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

  color: royalblue;
  
  position: relative;
  margin: 5px 0 0; 
}


progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  
  background-size: 3px 20px;
  border-radius:3px;
  
  /* Let's animate this */
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */




/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
  content: attr(data-value) '%';
  position: absolute; right:0;
}

.bar1::-webkit-progress-value {
  background-color: #a0de87;
  border: solid #45613a;
}

.bar1::-moz-progress-bar{
  background-color: #e2ddc8;
}
.bar2::-webkit-progress-value {
  background-color: #ffb26f;
  border: solid #8a5f39;
}

.bar2::-moz-progress-bar{
  background-color: #e2ddc8;
}

.info {
  background-color: #cccccc;
  width: 60px;
  display: inline-flex;
  margin-bottom: 3px;
}
.quiz {
  background-color: #cccccc;
  display: inline-flex;
  padding: 0 3px 0 3px;
  width: 100%;
}

.button {
  border: solid 1px #454545;
  border-radius: 5px;
  background-color: #cccccc;
  margin-left: 5px;
}