.button {
    padding: 5px 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #ACE57E;
    border: none;
    border-radius: 15px;
    border-style: solid;
    border-color: #666;
    box-shadow: 0 5px #000000;

}
#demo.button {
    margin: 10px;
    width: 100px;
     
}
.question{
    color: #00ffee;
    font-size: 18px;
    background-color: #37228D;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
}

p {
    color: #ffffff;
}
.button:hover {
    background-color: #00ffee;
    color: black;
}
  
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

div.btn {
    display: flex;
    padding: 0;
}
.gamecontent {
    background-color: #C3C3DA;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    margin: 20px;
}
.game {
    display: flex;
}
.ans {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 60px;
    height: 60px;
}

button.toggle {
    background-color: #ff43cd;
    color: #fff;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 10px;
}