@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');



.item1 {
    height: 140px;
    background-color: #ffffff;
    padding: 10px;
    width: auto;
}
.item2 {

    height: 160px;
    background-color: #E2D9E5;
    padding: 10px;
    width: auto;
}
.content3 {

    width: 100%;
    padding: 10px;
    margin-top: 30px;
}


button.btn-secondary {
    background-color: #9C7EB7;
    border: 0;
}

.img-thumbnail.rounded {
    width: 60%;
    height: auto;
    
}
.group {
    display: grid;
    grid-template-columns: 500px auto;
}
.group2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.group3 {
    display: grid;
    grid-template-columns: 5% 30% 65%;
    padding: 10px;
}


.btn1 {
    background-color: #9C7EB7;
    color: black;
    border-radius: 5px;
}
.btn1:hover {
    background-color: aquamarine;
}

.footer {
    margin-top: 400px;
    padding: 10px;
    background-color: #9C7EB7;
    width: 400px;
    height: 200px;
    width: 100%;
}
.foot {
    background-color: #f3f3f3;
    display: flex;
    border-radius: 10px;
    height: 60px;
    width: 150px;
    padding: 5px;
}

/* chart */

  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .chartBox {
    width: auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }

  .container1 {
    padding: 10px;
    position: fixed;
    width: 300px;
    background-color: aquamarine;
    border-radius: 5px;
}
