@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.item1 {
    height: 140px;
    background-color: #ffffff;
    padding: 10px;
    width: 400px; 
    border-radius: 5px;
    margin-bottom: 10px;
}
.item2 {
    height: 160px;
    background-color: #E2D9E5;
    padding: 10px;
    width: auto;
}
.content3 {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}


button.btn-secondary {
    background-color: #9C7EB7;
    border: 0;
}

.img-thumbnail.rounded {
    width: 60%;
    height: auto;
    
}
.group {
    display: grid;
    grid-template-columns: 500px auto;
}
.group2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.group3 {
    display: grid;
    grid-template-columns: 5% 30% 65%;
    padding: 10px;
}


.btn1 {
    padding: 5px;
    color: #ffffff;
    background-color: #e08655;
    border-radius: 3px;
    border: solid #444444;
}
.btn1:hover {
    color: #ffffff;
    box-shadow: 0 0 10px 5px #38fbdb;
}

.footer {
    margin-top: 400px;
    padding: 10px;
    background-color: #9C7EB7;
    width: 400px;
    height: 200px;
    width: 100%;
}
.foot {
    background-color: #f3f3f3;
    display: flex;
    border-radius: 10px;
    height: 60px;
    width: 150px;
    padding: 5px;
}

/* chart */

  .chartMenu {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .chartBox {
    width: auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }

  .container1 {
    padding: 10px;
    position: fixed;
    width: 300px;
    background-color: aquamarine;
    border-radius: 5px;
}


.boxbax {
    width: 400px; 
    height: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.boxbax2 {
    width: 400px; 
    height: auto;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.boxbax3 {
    width: 300px; 
    height: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.progress {
    width: 300px;
    background-color: aquamarine;
}

progress[value]::-webkit-progress-value {background-color: #ff4cbf;}
progress[value]::-webkit-progress-bar {background-color: #5a5a5a;}

.bar {
    width: 100px; 
    height: 10px; 
    background-color: #f7f7f7;
    margin-top: 4px;
    box-shadow: 0 0 5px 2px #38fbdb;
}
@media (max-width: 1000px) {
    .group, .group2 {display: block;}
    .boxbax, .item1 {width: auto; }
}
@media (max-width: 1500px) {
    .group2 {display: block;}
    html {height: fit-content;}
}