<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        .a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        b {
            color: brown;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home.css' />
    <title>PROEJECT</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->

    


<!-- MIDDLE 1 -->
<%- include('../layouts/project-middle') %>
<!-- END Of MIDDLE  -->


        <div id="content" class="container"> 
            <h3>Project</h3>
            <!--
            <b>Project Quiz 1: &ensp;</b><a class="a" href="/project-Ticket_Booking_System">Ticket Booking System</a><br>
            <b>Project Quiz 2: &ensp;</b><a class="a" href="/project-Point_of_Sales_System">Point of Sales System</a><br>-->
            <b>Project Quiz 3: &ensp;</b><!--<a class="a" href="/project-Project_QUIZ3">Project_QUIZ3</a>-->
        </div>


    </body>
</html>



