<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        body {
            padding-top: 30px;
            color: #fff;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        .a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        b {
            color: brown;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home1.css' />
    <title>PROEJECT</title>
</head>

<body class="quantico-regular" style="background-color: #122c5a;">
    <!-- Narbar-->
    <br><br>
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->

    


<!-- MIDDLE 1 -->
<%- include('../layouts/project-middle') %>
<!-- END Of MIDDLE  -->


 


    </body>
</html>



