
<!-- MIDDLE 1 -->

<div id = "content" class="container">
    <!--   C Language -->
            <div class="accordion" id="accordionParentSyntax">
                <!--   Introduce -->
                <div id="collapseIntroduce" class="accordion-collapse collapse show" data-bs-parent="#accordionParentSyntax">
                    <h1>Overview</h1>
                    
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i href="/home" class="fa fa-home" style="font-size:16px"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Course</li>
                    </ol>
                    <!--   ## -->
                    <div class="box bg-light  mb-5 shadow" >
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                            <div lang="ja">
                                <p class="wrapbox auto">
                                    <b>1. Algorithms and Flowcharts </b>
                                    <br><a href="/course-Algorithms_and_Flowcharts-pretest" style="color:black">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Algorithms_and_Flowcharts" style="color:black">เนื้อหาบทเรียน</a>
                                    <br><a href="/course-Algorithms_and_Flowcharts-quiz" style="color:black">แบบทดสอบหลังเรียน</a>
                                </p>
                                <p class="wrapbox auto">
                                    <b>2. Datatype and Variable </b>
                                    <br><a href="/course-Datatype_and_Variable-pretest" style="color:black">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Datatype_and_Variable" style="color:black">เนื้อหาบทเรียน </a>
                                    <!--<br><a href="/course-Datatype_and_Variable-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                    <br><br>
                                 </p>   
                                    <p class="wrapbox auto">
                                    <b>3. Input and Output</b>
                                    <br><a href="/course-Datatype" style="color:black">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Datatype-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>4. Operators and Expressions</b>
                                    <br><a href="/course-Operators#Operators" style="color:black">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Operators-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>5. Selection Statement&Output </b>
                                    <br><a href="/course-InputOutput#IO" style="color:black">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-InputOutput-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>6. Loop Statement </b>
                                    <br><a href="/course-Selection_Statement#if_else" style="color:black"> เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Selection_Statement-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>7. Array and String </b>
                                    <br><a href="/course-Loop_Statement#for_Loop" style="color:black">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Loop_Statement-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>8. Functions </b>
                                    <br><a href="/course-Pointers" style="color:black">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Pointers-quiz" style="color:black">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                
                              </div>
                        </div>
                    </div>
            <br></div>
            </div>
        </div>
    
    