
<!-- MIDDLE 1 -->

<style>
    a {
        color: rgb(65, 65, 65);
        text-decoration: none;
    }
    a:hover {
        color: blueviolet;
        font-size: large;
    }
</style>

<div id = "content" class="container">
    <!--   C Language -->
            <div class="accordion" id="accordionParentSyntax">
                <!--   Introduce -->
                <div id="collapseIntroduce" class="accordion-collapse collapse show" data-bs-parent="#accordionParentSyntax">
                    <h1>Overview</h1>
                    
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i href="/home" class="fa fa-home" style="font-size:16px"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Course</li>
                    </ol>
                    <!--   ## -->
                    <div class="box bg-light  mb-5 shadow" >
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                            <div lang="ja">
                                <p class="wrapbox auto">
                                    <b>1. Algorithms and Flowcharts </b>
                                    <br><a href="/course-Algorithms_and_Flowcharts-pretest"">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Algorithms_and_Flowcharts">เนื้อหาบทเรียน</a>
                                    <br><a href="/course-Algorithms_and_Flowcharts-quiz">แบบทดสอบหลังเรียน</a>
                                </p>
                                <p class="wrapbox auto">
                                    <b>2. Datatype and Variable </b>
                                    <br><a href="/course-Datatype_and_Variable-pretest">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Datatype_and_Variable">เนื้อหาบทเรียน </a>
                                    <br><a href="/course-Datatype_and_Variable-quiz">แบบทดสอบหลังเรียน</a>
                                    <br><br>
                                 </p>   
                                    <p class="wrapbox auto">
                                    <b>3. Input and Output</b>
                                    <br><a href="/course-Input_and_Output-pretest">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Input_and_Output">เนื้อหาบทเรียน</a>
                                    <br><a href="/course-Input_and_Output-quiz">แบบทดสอบหลังเรียน</a>
                                </p>
                                <p class="wrapbox auto">
                                    <b>4. Operators and Expressions</b>
                                    <br><a href="/course-Operators_and_Expressions-pretest">แบบทดสอบก่อนเรียน</a>
                                    <br><a href="/course-Operators_and_Expressions">เนื้อหาบทเรียน</a>
                                    <br><a href="/course-Operators_and_Expressions-quiz">แบบทดสอบหลังเรียน</a>
                                </p>
                                <p class="wrapbox auto">
                                    <b>5. Selection Statement&Output </b>
                                    <br><a href="/course-Selection_Statement">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-InputOutput-quiz">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>6. Loop Statement </b>
                                    <br><a href="/course-Loop_Statement"> เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Selection_Statement-quiz">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>7. Array and String </b>
                                    <br><a href="/course-Array_and_String">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Loop_Statement-quiz">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <p class="wrapbox auto">
                                    <b>8. Functions </b>
                                    <br><a href="/course-Functions">เนื้อหาบทเรียน</a>
                                    <!--<br><a href="/course-Pointers-quiz">แบบทดสอบหลังเรียน</a>-->
                                </p>
                                <!--<p class="wrapbox auto">
                                    <b>8. Functions </b>
                                    <br><a href="/course-Pointers" >เนื้อหาบทเรียน</a>
                                    <br><a href="/course-Pointers-quiz" >แบบทดสอบหลังเรียน</a>
                                </p>-->
                                
                              </div>
                        </div>
                    </div>
            <br></div>
            </div>
        </div>
    
    