<!-- LEFT -->
<main>
    <!-- START OF C Language-->
    <div class="sidebar bg-light shadow">
        <div class="flex-shrink-0 p-3 " >
            <a href="/course" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold"><i class='fas fa-code' style='font-size:24px'></i> PROJECT </span>
            </a>
            <ul class="list-unstyled ps-0">
                <div class="accordion" id="accordionParentC"> 
                    <% if(Object.keys(RecommendaResult).length === 0){ %>
                            
                    <% } else{ %>  
                        
                        <% if(RecommendaResult[0].TicketBooking_SystemPercent === 100) { %> <%# Follow node %> 
                        <!-- Project A -->   
                        <li class="mb-1">
                            <li><a href="/project-Ticket_Booking_System" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                                Ticket Booking System
                            </a></li>
                        </li>
                        <% } %>
                        <% if(RecommendaResult[0].PointofSales_SystemPercent === 100) { %> <%# Follow node %> 
                        <!-- Project B -->   
                        <li class="mb-1">
                            <li><a href="/project-Point_of_Sales_System" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                                Point of Sales System
                            </a></li>
                        </li>
                        <% } %>
                        <% if(RecommendaResult[0].RoshamboPercent === 100) { %> <%# Follow node %> 
                        <!-- Project C -->   
                        <li class="mb-1">
                            <li><a href="/project-Roshambo" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                                Roshambo 
                            </a></li>
                        </li>
                     
                        
                        <% } else{ %>  
                    
                            
                        <% } %>
                    <% } %>
                </div>
            </ul>     
        </div>
    </div>
</main>
<!-- END OF LEFT-->