<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='stylesheets/home1.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none; 
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    
    <title>Ready</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('layouts/navbar') %>
    <!-- end of Narbar-->
    <style>
        .img-thumbnail {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            max-width: 100%;
            height: 300px;
        }
    </style>
<br><br><br>
    <div id = "content" class="container">
    <h2>พร้อมเริ่มเรียนมั้ยเอ่ย?</h2>

<%# START %> 
<form action="/pretestSubmit" method="post" autocomplete="off" >
    <%# button %> 
    <div class="btn-group me-2" role="group" aria-label="Basic outlined example">
        <!--
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test1" >1</button>      
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test2">2</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test3">3</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test4">4</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test5">5</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test6">6</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test7">7</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test8">8</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test9">9</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">10</button>
        
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">11</button>
        
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">12</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">13</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">14</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">15</button>-->
    </div>
        <button type="submit" class="btn btn-outline-dark">พร้อม!!!!</button>

<%# content %> 

    <div class="accordion accordion-flush" id="accordionMain">
    <%# %>
        <div id="test0" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
            
        </div>
<!--
<%# test1 %>
    <div id="test1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <b>ข้อที่ 1 - 5: วัดความสามารถด้านความรู้ (Knowledge)</b>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        1. Algorithm คืออะไร
                    </p>
                    
                    <input type="radio" class="btn-check" name="c11" id="c11o1" autocomplete="off" value="A" required >
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o1">
                        โปรแกรมที่ถูกคอมไพล์แล้วเสร็จสิ้น
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o2">
                        หน่วยวัดประสิทธิภาพของโปรแกรม
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o3">
                        ขั้นตอนหรือวิธีการเพื่อแก้ปัญหาหรือดำเนินการในรูปแบบที่เข้าใจง่าย
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o4">
                        ภาษาที่ใช้ในการเขียนโปรแกรม
                    </label>
                </div>
            </div>
            


        </div>
        <%# choice %> 
    </div>
    
<%# test2 %>
    <div id="test2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 1 - 5: วัดความสามารถด้านความรู้ (Knowledge)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        โค้ดที่เขียนลงในกระดาษ
                    </p>

                    <input type="radio" class="btn-check" name="c21" id="c21o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o1">
                        ภาษาที่ใช้สร้างเว็บไซต์
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o2">
                        โค้ดที่เขียนลงในกระดาษ
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o3">
                        ขั้นตอนและลอจิคของโปรแกรมเขียนอย่างง่าย ๆ ในรูปแบบของภาษาธรรมดา
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o4">
                        ภาษาที่ใช้ในการเขียนโปรแกรมจริง ๆ
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test3 %>
    <div id="test3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 1 - 5: วัดความสามารถด้านความรู้ (Knowledge)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        3. หลักการในการเขียน Pseudo Code คืออะไร
                    </p>

                    <input type="radio" class="btn-check" name="c31" id="c31o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o1">
                        ความเข้าใจและความชัดเจนของขั้นตอน
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o2">
                        การใช้ข้อมูลที่น้อยที่สุด
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o3">
                        ความถูกต้องของ Syntax
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o4">
                        ความเร็วในการทำงาน
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test4 %>
    <div id="test4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 1 - 5: วัดความสามารถด้านความรู้ (Knowledge)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        4. Flowchart คืออะไร
                    </p>

                    <input type="radio" class="btn-check" name="c41" id="c41o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o1">
                        รหัสที่ได้จากการคอมไพล์โปรแกรม
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o2">
                        การวาดรูปภาพเพื่อแสดงขั้นตอนและลำดับการทำงานของโปรแกรม
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o3">
                        การแสดงผลของโปรแกรมในรูปแบบข้อความ
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o4">
                        เครื่องมือในการวัดประสิทธิภาพของโปรแกรม
                    </label>
                </div>
            </div>
        
        </div>
        <%# choice %> 
    </div>
<%# test5 %>
    <div id="test5" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 1 - 5: วัดความสามารถด้านความรู้ (Knowledge)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        5. Flowchart หลัก ๆ ใช้ในส่วนไหนของการพัฒนาโปรแกรม
                    </p>

                    <input type="radio" class="btn-check" name="c51" id="c51o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o1">
                        การออกแบบและการวางแผน
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o2">
                        การทดสอบและการดีบั๊ก
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o3">
                        การประเมินประสิทธิภาพ
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o4">
                        การเขียนโค้ด
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test6 %>
    <div id="test6" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <b>ข้อที่ 6 - 10: วัดความสามารถด้านการติดตามโค้ด (Tracing)</b>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        6. Pseudo Code ต่อไปนี้จะพิมพ์อะไรออกมา <br> 
                       <b style="color: aquamarine; font-weight: lighter;" > &ensp;FOR i FROM 1 TO 3 <br> 
                        &ensp;PRINT i <br> 
                        &ensp;END FOR </b>
                    </p>

                    <input type="radio" class="btn-check" name="c61" id="c61o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o1">
                        1 2 
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o2">
                        2 3 4
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o3">
                        1 2 3	
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o4">
                        0 1 2
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test7 %>
    <div id="test7" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 6 - 10: วัดความสามารถด้านการติดตามโค้ด (Tracing)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        7. Pseudo Code ต่อไปนี้จะพิมพ์อะไรออกมา? <br>
                        <b style="color: aquamarine; font-weight: lighter;" >
                            &ensp;x = 10<br>
                            &ensp;y = 5<br>
                            &ensp;IF x > y<br>
                            &ensp;&ensp;IF y > 0<br>
                            &ensp;&ensp;&ensp;PRINT "A"<br>
                            &ensp;&ensp;ELSE<br>
                            &ensp;&ensp;&ensp;PRINT "B"<br>
                            &ensp;&ensp;END IF<br>
                            &ensp;ELSE<br>
                            &ensp;&ensp;PRINT "C"<br>
                            &ensp;END IF<br> </b>
                    </p>

                    <input type="radio" class="btn-check" name="c71" id="c71o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o1">
                        ERROR
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o2">
                        A
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o3">
                        B
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o4">
                        C
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test8 %>
    <div id="test8" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
                <b>ข้อที่ 6 - 10: วัดความสามารถด้านการติดตามโค้ด (Tracing)</b>
                </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        8. Pseudo Code ต่อไปนี้จะคืนค่าเป็นอะไร <br>
                        <b style="color: aquamarine; font-weight: lighter;" >
                            &ensp;FUNCTION add(a, b)<br>
                            &ensp;&ensp;RETURN a + b<br>
                            &ensp;END FUNCTION<br><br>
                        
                            &ensp;x = add(2, 3)<br>
                            &ensp;PRINT x <br> </b>
                    </p>

                    <input type="radio" class="btn-check" name="c81" id="c81o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o1">
                        5
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o2">
                        6
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o3">
                        3
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o4">
                        2
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test9 %>
    <div id="test9" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <b>ข้อที่ 6 - 10: วัดความสามารถด้านการติดตามโค้ด (Tracing)</b>
            </div>
            <div class="col">
                <img src="https://lh6.googleusercontent.com/C4tU7K9i7TqqmqHN0-mYb6udFeOC3cx7g08NK8RoDBgzEWly_pjRJRYcXO-aYpC6a7jzK-G8QNB9OFZfRUC53SihsZrE76ym72XrqG-HqnFtB14jhQoYViOlc49wfrc2Wg=w739" class="img-thumbnail rounded"  >
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        9. Flowchart ต่อไปนี้ เมื่อกำหนดให้ Number เป็น 8 จะแสดงผลเป็นอะไร
                    </p>

                    <input type="radio" class="btn-check" name="c91" id="c91o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o1">
                        Even
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o2">
                        8
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o3">
                        End
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o4">
                        Odd
                    </label>
                </div>
            </div>
            
        </div>
        <%# choice %> 
    </div>
<%# test10 %>
    <div id="test10" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <b>ข้อที่ 6 - 10: วัดความสามารถด้านการติดตามโค้ด (Tracing)</b>          
            </div>
            <div class="col">
                <img src="https://lh5.googleusercontent.com/nHjjsYWTlZ_POk4wTQaqDuWZ0wQzLli6UzZ_13k4AXP7jSBrMijpJOem8h4sU_pMX244rY8bAmi7V7rQKE5dryuC-CpayHT1mzEGxiKO-Z9cEYbgQ5hslZ-6nxj7HpwHmg=w365" class="img-thumbnail rounded"  >
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        10. Flowchart ต่อไปนี้ ถ้ากำหนดให้ n = 10 จะแสดงผลเป็นเลขอะไร

                    </p>

                    <input type="radio" class="btn-check" name="c101" id="c101o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o1">
                        2 4 6 8 10
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o2">
                        1 2 3 4 5 6 7 8 9 10
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o3">
                        2 4 6 8 9 10
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o4">
                        1 3 5 7 9
                    </label>
                </div>
            </div>
        </div> 
        <%# choice %> 
    </div>-->



<%#  END %> 
</form>
        
    </body>
    </html>