


<%# START %> 
<form action="/question/submit" method="post" autocomplete="off" >
    <textarea class="" placeholder="คำถาม" style="width: 300px;" rows="3" cols="10" name="question" required></textarea>
    <%# SUBMIT %> 
    <!-- Button trigger modal -->
    <div class="">
        <button type="submit" class="btn btn-dark" value="Submits" id="check" name="check">Send</button>
    </div>
</form> 

<%# END %> 


