<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
    </style>
    
    <link rel='stylesheet' href='stylesheets/gamequiz.css' />
    <script src="javascripts/gamequiz.js"></script>
    <title>Datatype and Variable</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->
    <!-- LEFT -->
    <!-- END OF LEFT-->

    <!-- MIDDLE 1 -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .breadcrumb {
            margin-bottom: 0;
            background-color: white;
            }
        .blockquote-footer {
            color:black;
        }
    </style>
    <a id="String "></a>
    <!-- MIDDLE 1 -->
    <div class="content">
        <div id = "content" class="container">
            <h2>บทที่ 2 Datatype and Variable</h2>
    <!--   C Language -->
            <div class="accordion" id="accordionParentSyntax">
                <iframe src="https://drive.google.com/file/d/1UAGOdOiR-QB-WsqfnEFl6whrYqXEfbXb/preview" width="100%" height="820" allow="autoplay"></iframe>
                <br><br><h4>เริ่มต้นใช้งาน Online GDB และ Dev C++ IDE 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/0fd7xXnW9E8?si=oIPvfKBPw5qTAgHW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>โครงสร้างการเขียนโปรแกรม C Structures 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/ZLTtjffNfvs?si=_QEnQmawHOR5bS3V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>รูปแบบชนิดข้อมูล Data Types Formats 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/g2mP2zgteaI?si=mP-4FPPAHqwmB_ij" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>กำหนดค่าคงที่ Define Constant 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/VKXHv_C4C9g?si=s_FD9R_4ul5xCT6v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>สัญลักษณ์พิเศษ Formats and Escape Characters 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/ddbidsl_9Fc?si=ISnWVOhHQEgCnN9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
        <br><br>
        <div class="game">
            <div class="c1">
                <p id="demo1" class="head">ข้อ 1</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT4()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW4()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW4()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW4()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo2" class="head">ข้อ 2</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW5()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW5()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW5()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionT5()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo3" class="head">ข้อ 3</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo4" class="head">ข้อ 4</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo5" class="head">ข้อ 5</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo6" class="head">ข้อ 6</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo7" class="head">ข้อ 7</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo8" class="head">ข้อ 8</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo9" class="head">ข้อ 9</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo10" class="head">ข้อ 10</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo11" class="head">ข้อ 11</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo12" class="head">ข้อ 12</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo13" class="head">ข้อ 13</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo14" class="head">ข้อ 14</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo15" class="head">ข้อ 15</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
            <div class="c1">
                <p id="demo16" class="head">ข้อ 16</p>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
                <div class="row">
                    <p id="demo" class="button" onclick="myFunctionT6()">Click</p>  
                    <p id="demo" class="button" onclick="myFunctionW6()">Click</p>    
                </div>
            </div>
        </div>

        <br><br>
        <!--
        <button onclick="window.location.href='/course-Datatype_and_Variable-quiz'" type="button" class="btn btn-outline-secondary btn-lg btn-block bg-light shadow" style="color:black" >
        <h4><u>แบบทดสอบหลังเรียน</h2></u></button>-->
        

        

        <br></div>
        </div>
    </div>


    <!-- END Of MIDDLE  -->
    </body>
</html>


