<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
    </style>
    
    <link rel='stylesheet' href='stylesheets/gamequiz.css' />
    <script src="javascripts/gamequiz.js"></script>
    <title>Datatype and Variable</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->
    <!-- LEFT -->
    <!-- END OF LEFT-->

    <!-- MIDDLE 1 -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .breadcrumb {
            margin-bottom: 0;
            background-color: white;
            }
        .blockquote-footer {
            color:black;
        }
    </style>
    <a id="String "></a>
    <!-- MIDDLE 1 -->

    <div class="content">
        <div id = "content" class="container">
            <br><br>
            <h2>บทที่ 2 Datatype and Variable</h2>
    <!--   C Language -->
            <div class="accordion" id="accordionParentSyntax">
                <iframe src="https://drive.google.com/file/d/1UAGOdOiR-QB-WsqfnEFl6whrYqXEfbXb/preview" width="100%" height="820" allow="autoplay"></iframe>
                <br><br><h4>เริ่มต้นใช้งาน Online GDB และ Dev C++ IDE 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/0fd7xXnW9E8?si=oIPvfKBPw5qTAgHW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>โครงสร้างการเขียนโปรแกรม C Structures 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/ZLTtjffNfvs?si=_QEnQmawHOR5bS3V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>รูปแบบชนิดข้อมูล Data Types Formats 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/g2mP2zgteaI?si=mP-4FPPAHqwmB_ij" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>กำหนดค่าคงที่ Define Constant 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/VKXHv_C4C9g?si=s_FD9R_4ul5xCT6v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br><br><h4>สัญลักษณ์พิเศษ Formats and Escape Characters 🔥</h4>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/ddbidsl_9Fc?si=ISnWVOhHQEgCnN9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
        <br><br>
        <div class="game">
            <!--* ข้อ 1 *-->
            <div class="gamecontent">
                <div  class="question">
                <h5>ข้อมูลประเภท float ในภาษา C ใช้เก็บข้อมูลชนิดใด</h5>
                <br><br><p id="demo1"> </p>
                </div>
                <div class="ans">
                    <div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW2()">10</p>  
                        <p id="demo" class="button" onclick="myFunctionT1()">26.83</p>                                                                      
                    </div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW1()">“Hello World”</p>   
                        <p id="demo" class="button" onclick="myFunctionW1()"> A </p>    
                    </div></div>
                    
                </div>
            </div>
            
            <!--* ข้อ 2 *-->
            <div class="gamecontent">
                <div  class="question">
                <h5>ข้อใดประกาศตัวแปรประเภท double ในภาษา C ได้ถูกต้อง</h5>
                <br><br><p id="demo2"> </p>
                </div>
                <div class="ans">
                    <div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW2()"> float x = 10.5; </p>    
                        <p id="demo" class="button" onclick="myFunctionW2()">int x = 10.5;</p>                                                                      
                    </div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionT2()">double x = 10.5;</p>   
                    </div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW2()">char x = 10.5;</p>   
                    </div>
                </div>
                    
                </div>
            </div>

            <!--* ข้อ 3 *-->
            <div class="gamecontent">
                <div  class="question">
                <h5>ข้อมูลประเภท char ในภาษา C ใช้เก็บข้อมูลชนิดใด</h5>
                <br><br><p id="demo3"> </p>
                </div>
                <div class="ans">
                    <div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW3()">จำนวนเต็ม</p>    
                        <p id="demo" class="button" onclick="myFunctionW3()">จำนวนทศนิยม</p>                                                                      
                    </div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW3()">ข้อความ</p>  
                        <p id="demo" class="button" onclick="myFunctionT3()">ตัวอักขระ </p>  
                    </div>
                </div>
                    
                </div>
            </div>
        </div>

        <div class="game">
            <!--* ข้อ 6 *-->
            <div class="gamecontent-M">
                <div  class="question">
                <h5>ตัวแปรในการเขียนโปรแกรมคืออะไร</h5>
                <br><br><p id="demo6"> </p>
                
                </div>
                <div class="ans">
                    <div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionT6()">สถานที่เก็บข้อมูล</p>    
                        <p id="demo" class="button" onclick="myFunctionW6()">ชื่อที่ใช้เรียกโปรแกรม</p>                                                                      
                    </div>
                    <div class="btn">
                        <p id="demo" class="button" onclick="myFunctionW6()">คำสั่งในโปรแกรม</p>  
                        <p id="demo" class="button" onclick="myFunctionW6()">ข้อความแสดงผล </p>  
                    </div>
                </div>
                    
                </div>
            </div>
        </div>







    
            <!--<button class="click" onClick="window.location.reload();">Refresh Page</button>
            
            <div id="myDIV" style="height:400px; width:400px; display:none; align-items: flex-end;">
                <img src="https://cdn-icons-png.flaticon.com/512/276/276126.png">
            </div> 
        
            <p id="demo6" style="display: none;"><img src="https://cdn-icons-png.flaticon.com/512/276/276126.png"> </p>-->

        </div>

        <br><br>
        
        <button onclick="window.location.href='/course-Datatype_and_Variable-quiz'" type="button" class="btn btn-outline-secondary btn-lg btn-block bg-light shadow" style="color:black" >
        <h4><u>แบบทดสอบหลังเรียน</h2></u></button>
        

        

        <br></div>
        </div>
    </div>


    <!-- END Of MIDDLE  -->
    </body>
</html>


