<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
    </style>

    <link rel='stylesheet' href='stylesheets/gamequiz.css' />
    <script src="javascripts/gamequiz.js"></script>
    <title>Selection Statements</title>
</head> 

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->

    <!-- MIDDLE 1 -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .breadcrumb {
            margin-bottom: 0;
            background-color: white;
            }
        .blockquote-footer {
            color:black;
        }
    </style>
    <a id="if_else"></a>
    <!-- MIDDLE 1 -->
    <div class="content">
        <div id = "content" class="container">
            <br><br>
            <h1>บทที่ 5 Selection Statements</h1>
            <b>แบบฝึกหัด</b>
            <a href="/course-Selection_Statements#Knowledge" class="scrollbtnK"  type="button"  >
                Knowledge
            </a>
            <a href="/course-Selection_Statements#Tracing" class="scrollbtnT"  type="button"  >
                Tracing
            </a>
            <a href="/course-Selection_Statements#Explaining" class="scrollbtnE"  type="button"  >
                Explaining
            </a>
            <a href="/course-Selection_Statements#Writing" class="scrollbtnW" type="button"  >
                Writing
            </a>

            <div class="accordion" id="accordionParentSyntax">
                <iframe src="https://drive.google.com/file/d/19FMO5bKNsalcvrO_c0YGNpgffpQ-o7in/preview" width="100%" height="820" allow="autoplay"></iframe>
                <h2>การควบคุมแบบลำดับ Sequential Control Statements</h2>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/78HJQs0kO48?si=hrzOsutbsup7HWIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>คำสั่งสร้างเงื่อนไข IF Conditional Statements</h2>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/YOSDAGmqbbI?si=pVmBZnTNSgtqmoDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>คำสั่งสร้างเงื่อนไข IF ELSE Control Statements</h2>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/FBORObyFWa8?si=budaEjwbJNqU8dsF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>สร้างเงื่อนไข IF ELSEIF ELSE Control Statements</h2>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/eL_00HO4q1w?si=5voelBb3gfobCpTJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>SWITCH CASE Control Statements</h2>
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/VmVnMyVc0sQ?si=7ujroog6s6rEmI0G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <br></div>


                <BR id="Knowledge"> <br><br>
                    <h2>Knowledge</h2>
                    <div class="game">
                    <!--* ข้อ 1 K1 *-->
                    <div class="gamecontent">
                        <div  class="question">
                        <h5>ข้อใดบอกความหมายของ if statement ได้ถูกต้องที่สุด</h5>
                        <br><br>
                        <p style="text-align: center;" id="demo1"> </p>
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW1()">ใช้เพื่อทำซ้ำบล็อกของโค้ดหลายๆ ครั้ง</p>                                                                                                
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW1()">ใช้เพื่อเปรียบเทียบค่าตัวแปรสองค่า</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT1()">ใช้เพื่อตัดสินใจว่าจะทำงานบล็อก <br>ของโค้ดใดโค้ดหนึ่งตามเงื่อนไขที่กำหนด</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW1()">ใช้เพื่อประกาศตัวแปร</p>  
                            </div>
                            </div>
                            
                        </div>
                    </div>

                    <!--* ข้อ 2 K2 *-->
                    <div class="gamecontent">
                        <div  class="question">
                        <h5>การใช้ else if มีวัตถุประสงค์เพื่ออะไร</h5>
                        <br><br>
                        <p style="text-align: center;" id="demo2"> </p>
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT2()">เพื่อตรวจสอบหลายเงื่อนไขที่แตกต่างกัน</p>    
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW2()">เพื่อประกาศตัวแปร</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW2()">เพื่อสร้างลูป</p> 
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW2()">เพื่อจบโปรแกรม
                                </p>                                                                   
                            </div>
                        </div>
                            
                        </div>
                    </div>

                </div>
        
                <div class="game">
                    <!--* ข้อ 3 K3 *-->
                    <div class="gamecontent">
                        <div  class="question">
                        <h5>Nested-if ใช้ในสถานการณ์ใดได้ดีที่สุด</h5>
                        <br><br>
                        <p style="text-align: center;" id="demo3"> </p>
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                 <p id="demo" class="button" onclick="myFunctionW3()">เมื่อต้องการตรวจสอบเงื่อนไขเดียว</p>                                                                                              
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT3()">เมื่อต้องการตรวจสอบเงื่อนไขที่ซับซ้อนหลายชั้น</p> 
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW3()">เมื่อไม่ต้องการใช้เงื่อนไขใดๆ</p> 
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW3()">เมื่อต้องการประกาศตัวแปร</p>  
                            </div>
                        </div>
                            
                        </div>
                    </div>
                    
                    <!--* ข้อ 4 K4 *-->
                    <div class="gamecontent">
                        <div  class="question">
                        <h5>เมื่อไรควรใช้ else statement</h5>
                        <br><br>
                        <p style="text-align: center;" id="demo4"> </p>
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW4()">หลังจาก if statement เสมอ</p>   
                            </div>
                            <div class="btn"> 
                                <p id="demo" class="button" onclick="myFunctionW4()">เมื่อต้องการตรวจสอบเงื่อนไขเพิ่มเติม</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT4()">เมื่อ if statement ไม่เป็นจริง</p>  
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW4()">ก่อน if statement</p>                                                                     
                            </div>
                            
                        </div>
                            
                        </div>
                    </div>
        
                    </div>
        
                    <div class="game">
                        <!--* ข้อ 5 K5 *-->
                        <div class="gamecontent" style="height: auto;">
                            <div  class="question">
                            <h5>อะไรคือผลลัพธ์ของ if statement ที่ไม่มี else</h5>
                            <br><br>
                            <p style="text-align: center;" id="demo5"> </p>
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW5()">โค้ดจะทำงานเสมอ</p>                                                                  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW5()">โค้ดจะไม่ทำงานเลย</p>
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT5()">โค้ดภายใน if จะทำงานหากเงื่อนไขเป็นจริง</p>
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW5()">โค้ดภายใน if จะทำงานหากเงื่อนไขไม่เป็นจริง</p>
                                </div>
                            </div>
                                
                            </div>
                        </div>
                        <!--* ข้อ 6 K6 *-->
                        <div class="gamecontent" style="height: auto">
                            <div  class="question">
                            <h5>เงื่อนไขใน if statement ควรมีลักษณะอย่างไร</h5>
                            <br><br>
                            <p style="text-align: center;" id="demo6"> </p>
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW6()">เป็นคำถามที่ต้องการคำตอบ yes หรือ no</p>                                                                             
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW6()">สามารถเป็นค่าใดๆ</p>
                                 
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT6()">ต้องเป็นเงื่อนไขที่สามารถประเมินค่าเป็น true หรือ false</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW6()">ต้องเป็นค่าคงที่เสมอ</p>   
                                </div>
                                
                            </div>
                                
                            </div>
                        </div>
            
                        </div>
        
                        <div class="game">
                            <!--* ข้อ 7 K7 *-->
                            <div class="gamecontent" style="height: auto;">
                                <div  class="question">
                                <h5>switch case statements ใช้ในสถานการณ์ใด</h5>
                                <br><br>
                                <p style="text-align: center;" id="demo7"> </p>
                                </div>
                                <div class="ans">
                                    <div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW7()">เมื่อต้องการทำซ้ำโค้ดบางส่วนหลายครั้ง</p>                                                                     
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW7()">เมื่อต้องการประกาศตัวแปร</p>
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW7()">เมื่อต้องการเขียนฟังก์ชัน</p> 
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionT7()">เมื่อมีเงื่อนไขหลายๆ เงื่อนไขที่ต้องการตรวจสอบ</p>
                                    </div>
                                    
                                </div>
                                    
                                </div>
                            </div>
                            <!--* ข้อ 8 K8 *-->
                            <div class="gamecontent">
                                <div  class="question">
                                <h5>อะไรคือส่วนประกอบหลักของ switch case statement</h5>
                                <br><br>
                                <p style="text-align: center;" id="demo8"> </p>
                                </div>
                                <div class="ans">
                                    <div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionT8()">switch, case, break, และ default</p>    
                                        <p id="demo" class="button" onclick="myFunctionW8()">if, else if, else</p>
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW8()">for, while, do-while</p>  
                                        <p id="demo" class="button" onclick="myFunctionW8()">goto, continue, break</p>                                                                 
                                    </div>
                                    
                                </div>
                                    
                                </div>
                            </div>
                
                            </div>
        
                            <div class="game">
                                <!--* ข้อ 9 K9 *-->
                                <div class="gamecontent">
                                    <div  class="question">
                                    <h5>break statement ใช้ใน switch statement เพื่ออะไร</h5>
                                    <br><br>
                                    <p style="text-align: center;" id="demo9"> </p>
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT9()">ข้าม case ที่เหลือและออกจาก switch statement</p>
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW9()">เริ่มต้น case ถัดไป</p>  
                                            <p id="demo" class="button" onclick="myFunctionW9()">ไม่มีผลใดๆ</p>  
                                            <p id="demo" class="button" onclick="myFunctionW9()">ทำให้โปรแกรมจบทันที</p>                                                              
                                        </div>
                                        
                                    </div>
                                        
                                    </div>
                                </div>
                                    <!--* ข้อ 10 K10 *-->
                                    <div class="gamecontent">
                                        <div  class="question">
                                        <h5>คำสั่ง default case ของ switch case statement ใช้เมื่อใด</h5>
                                        <br><br>
                                        <p style="text-align: center;" id="demo10"> </p>
                                        </div>
                                        <div class="ans">
                                            <div>
                                            <div class="btn">
                                                <p id="demo" class="button" onclick="myFunctionT10()">เมื่อไม่มี case ใดตรงกับค่าของ expression</p>
                                            </div>
                                            <div class="btn">
                                                <p id="demo" class="button" onclick="myFunctionW10()">ก่อน case อื่นๆ เสมอ</p>
                                                <p id="demo" class="button" onclick="myFunctionW10()">หลังจากทุก case</p>
                                            </div>
                                            <div class="btn">
                                                <p id="demo" class="button" onclick="myFunctionW10()">เมื่อต้องการเริ่มต้น switch statement</p>
                                            </div>
                                            
                                        </div>
                                            
                                        </div>
                                    </div>
                        
                                    </div>
        
        
                    <BR id="Tracing"> <br><br>
                    <h2>Tracing</h2>
                    <div class="game">
                    <!--* ข้อ 11 T1 *-->
                    <div class="gamecontent-T" style="height: auto">
                        <div  class="question-T">
                        <h5>ผลลัพธ์ของโค้ดนี้คืออะไร </h5>
                        <p>#include < stdio.h > 
                        <br>int main() {
                        <br>&ensp;int age = 18;
                        <br>&ensp;if (age >= 18) {
                        <br>&ensp;&ensp;printf("Eligible for voting\n");
                        <br>&ensp;} else {
                        <br>&ensp;&ensp;printf("Not eligible for voting\n");
                        <br>&ensp;}
                        <br>&ensp;return 0;
                        <br>}
        
                        </p>
                        <p style="text-align: center;" id="demo11"></p>
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT11()">Eligible for voting</p>
                                <p id="demo" class="button" onclick="myFunctionW11()">Not eligible for voting</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW11()">ไม่พิมพ์อะไรเลย</p>
                                <p id="demo" class="button" onclick="myFunctionW11()">ข้อความผิดพลาด</p>
                            </div>
                           
                        </div>
                            
                        </div>
                    </div>

                    <!--* ข้อ 12 T2*-->
                    <div class="gamecontent-T" style="height: auto">
                        <div  class="question-T">
                        <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                        <p>#include < stdio.h >
                        <br>int main() {
                        <br>&ensp;int score = 85;;
                        <br>&ensp;if (score >= 90) {
                        <br>&ensp;&ensp;printf("Grade A");
                        <br>&ensp;} else if (score >= 80) {
                        <br>&ensp;&ensp;printf("Grade B");
                        <br>&ensp;} else {
                        <br>&ensp;&ensp;printf("Grade C");
                        <br>&ensp;} 
                        <br>&ensp;return 0;
                        <br>}
        
                        </p>
                        <p style="text-align: center;" id="demo12"></p>
                        
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW12()">Grade A</p>
                                <p id="demo" class="button" onclick="myFunctionT12()">Grade B</p>
                                 <p id="demo" class="button" onclick="myFunctionW12()">Grade C</p>
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW12()">ไม่พิมพ์อะไรเลย</p>                                                                
                            </div>
                        </div>
                            
                        </div>
                    </div>  
                </div>
        
                <div class="game">
                        <!--* ข้อ 13 T3*-->
                        <div class="gamecontent-T" style="height: auto">
                            <div  class="question-T">
                            <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                            <p>#include < stdio.h >
                            <br>int main() {
                            <br>&ensp;int a = 8, b = 8;
                            <br>&ensp;if (a > b) {
                            <br>&ensp;&ensp;printf("A is greater");
                            <br>&ensp;} else if (a < b) {
                            <br>&ensp;&ensp;printf("B is greater");
                            <br>&ensp;} else {
                            <br>&ensp;&ensp;printf("A and B are equal");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo13"></p>
                            
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW13()">A is greater</p>
                                    <p id="demo" class="button" onclick="myFunctionW13()">B is greater</p>
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT13()">A and B are equal</p>
                                    <p id="demo" class="button" onclick="myFunctionW13()">ไม่พิมพ์อะไรเลย</p>
                                </div>
                                
                            </div>
                                
                            </div>
                        </div>  

                            <!--* ข้อ 14 T4*-->
                            <div class="gamecontent-T" style="height: auto">
                                <div  class="question-T">
                                <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                                <p>#include < stdio.h >
                                <br>int main() {
                                <br>&ensp;int x = 10;
                                <br>&ensp;if (x == 10) {
                                <br>&ensp;&ensp;if (x < 15)
                                <br>&ensp;&ensp;&ensp;printf("x is smaller than 15 ");
                                <br>&ensp;&ensp;if (x < 12)
                                <br>&ensp;&ensp;&ensp;printf("x is smaller than 12 too ");
                                <br>&ensp;&ensp;else
                                <br>&ensp;&ensp;&ensp;printf("x is greater than 15 ");
                                <br>&ensp;}
                                <br>&ensp;return 0;
                                <br>}
                
                                </p>
                                <p style="text-align: center;" id="demo14"></p>
                                
                                </div>
                                <div class="ans">
                                    <div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW14()">x is greater than 15 x is smaller than 12 too</p> 
                                    </div>
                                    <div class="btn">                                                                     
                                        <p id="demo" class="button" onclick="myFunctionW14()">x is smaller than 12 too x is smaller than 15</p>
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionW14()">x is greater than 15 x is smaller than 12 too</p>
                                    </div>
                                    <div class="btn">
                                        <p id="demo" class="button" onclick="myFunctionT14()">x is smaller than 15 x is smaller than 12 too </p>
                                    </div>
                                    
                                </div>
                                    
                                </div>
                            </div>  
                            </div>
        
                            <div class="game">
                                <!--* ข้อ 15 T5*-->
                                <div class="gamecontent-T" style="height: auto">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;int num = 8;
                                    <br>&ensp;if (num < 10) {
                                    <br>&ensp;&ensp;if (num % 2 == 0)
                                    <br>&ensp;&ensp;&ensp;printf("Even");
                                    <br>&ensp;&ensp;else
                                    <br>&ensp;&ensp;&ensp;printf("Odd");
                                    <br>&ensp;} else {
                                    <br>&ensp;&ensp;printf("Greater than 10");
                                    <br>&ensp;}
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo15"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT15()">Even</p>
                                            <p id="demo" class="button" onclick="myFunctionW15()">Odd</p>
                                            <p id="demo" class="button" onclick="myFunctionW15()">Greater than 10</p>
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW15()">ไม่พิมพ์อะไรเลย</p>                                                                     
                                        </div>
                                       
                                    </div>
                                        
                                    </div>
                                </div>  

                                <!--* ข้อ 16 T6*-->
                                <div class="gamecontent-T">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;int i = 20;
                                    <br>&ensp;if (i == 10)
                                    <br>&ensp;&ensp;printf("i is 10\n");
                                    <br>&ensp;else if (i == 15)
                                    <br>&ensp;&ensp;printf("i is 15\n");
                                    <br>&ensp;else if (i == 20)
                                    <br>&ensp;&ensp;printf("i is 20\n");
                                    <br>&ensp;else
                                    <br>&ensp;&ensp;printf("i is not present");
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo16"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW16()">i is 10</p>
                                            <p id="demo" class="button" onclick="myFunctionW16()">i is 15</p> 
                                            <p id="demo" class="button" onclick="myFunctionW16()">i is 20</p> 
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT16()">i is not present</p> 
                                        </div>
                            
                                    </div>
                                        
                                    </div>
                                </div>  
                            </div>
        
                            <div class="game">
                                <!--* ข้อ 17 T7*-->
                                <div class="gamecontent-T" style="height: auto">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร </h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;char grade = 'B';
                                    <br>&ensp;switch (grade) {
                                    <br>&ensp;&ensp;case 'A':
                                    <br>&ensp;&ensp;&ensp;printf("Excellent\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;case 'B':
                                    <br>&ensp;&ensp;&ensp;printf("Good\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;case 'C':
                                    <br>&ensp;&ensp;&ensp;printf("Fair\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;case 'D':
                                    <br>&ensp;&ensp;&ensp;printf("Poor\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;default:
                                    <br>&ensp;&ensp;&ensp;printf("Invalid grade\n");
                                    <br>&ensp;}
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo17"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW17()">Excellent</p>
                                            <p id="demo" class="button" onclick="myFunctionT17()">Good</p>
                                            <p id="demo" class="button" onclick="myFunctionW17()">Fair</p>
                                            <p id="demo" class="button" onclick="myFunctionW17()">Invalid grade</p>                                                                      
                                        </div>
                                        
                                    </div>
                                        
                                    </div>
                                </div>  

                                <!--* ข้อ 18 T8*-->
                                <div class="gamecontent-T" style="height: auto">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;int number = 5;
                                    <br>&ensp;switch (number) {
                                    <br>&ensp;&ensp;case 1:
                                    <br>&ensp;&ensp;case 3:
                                    <br>&ensp;&ensp;case 5:
                                    <br>&ensp;&ensp;&ensp;printf("Odd\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;case 2:
                                    <br>&ensp;&ensp;case 4:
                                    <br>&ensp;&ensp;&ensp;printf("Even\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;default:
                                    <br>&ensp;&ensp;&ensp;printf("Unknown\n");
                                    <br>&ensp;}
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo18"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT18()">Odd</p>
                                            <p id="demo" class="button" onclick="myFunctionW18()">Even</p>
                                            <p id="demo" class="button" onclick="myFunctionW18()">Unknown</p></div>
                                            <p id="demo" class="button" onclick="myFunctionW18()">ไม่พิมพ์อะไรเลย</p>                                                                       
                                        </div>
                                        
                                    </div>
                                        
                                    </div>
                                </div>  
                            
        
                            <div class="game">
                                <!--* ข้อ 19 T9*-->
                                <div class="gamecontent-T" style="height: auto">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร </h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;int x = 1, y = 2;
                                    <br>&ensp;switch (x) {
                                    <br>&ensp;&ensp;case 1:
                                    <br>&ensp;&ensp;&ensp;switch (y) {
                                    <br>&ensp;&ensp;&ensp;&ensp;case 2:
                                    <br>&ensp;&ensp;&ensp;&ensp;&ensp;printf("y is 2\n");
                                    <br>&ensp;&ensp;&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;&ensp;&ensp;default:
                                    <br>&ensp;&ensp;&ensp;&ensp;&ensp;printf("Default\n");
                                    <br>&ensp;&ensp;&ensp;}
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;case 2:
                                    <br>&ensp;&ensp;&ensp;printf("x is 2\n");
                                    <br>&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;default:
                                    <br>&ensp;&ensp;&ensp;printf("Other\n");
                                    <br>&ensp;}
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo19"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT19()">y is 2</p>
                                            <p id="demo" class="button" onclick="myFunctionW19()">Default</p>
                                            <p id="demo" class="button" onclick="myFunctionW19()">x is 2</p>
                                            <p id="demo" class="button" onclick="myFunctionW19()">Other</p>
                                        </div>
                                    </div>
                                        
                                    </div>
                                </div>  

                                <!--* ข้อ 20 T10*-->
                                <div class="gamecontent-T">
                                    <div  class="question-T">
                                    <h5>ผลลัพธ์ของโค้ดนี้คืออะไร</h5>
                                    <p>#include < stdio.h >
                                    <br>int main() {
                                    <br>&ensp;int x = 5, y = 8;
                                    <br>&ensp;if (x > 3) {
                                    <br>&ensp;&ensp;switch (y) {
                                    <br>&ensp;&ensp;&ensp;case 8:
                                    <br>&ensp;&ensp;&ensp;&ensp;x += 4;
                                    <br>&ensp;&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;&ensp;case 9:
                                    <br>&ensp;&ensp;&ensp;&ensp;x += 3;
                                    <br>&ensp;&ensp;&ensp;&ensp;break;
                                    <br>&ensp;&ensp;&ensp;default:
                                    <br>&ensp;&ensp;&ensp;&ensp;x += 2;
                                    <br>&ensp;&ensp;}
                                    <br>&ensp;} else {
                                    <br>&ensp;&ensp;x -= 2;
                                    <br>&ensp;}
                                    <br>&ensp;printf("%d", x);
                                    <br>&ensp;return 0;
                                    <br>}
                    
                                    </p>
                                    <p style="text-align: center;" id="demo20"></p>
                                    
                                    </div>
                                    <div class="ans">
                                        <div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW20()">โปรแกรมจะพิมพ์ค่า 3 ออกมา</p>                                                                      
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW20()">โปรแกรมจะพิมพ์ค่า 8 ออกมา</p>  
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionT20()">โปรแกรมจะพิมพ์ค่า 9 ออกมา</p>  
                                        </div>
                                        <div class="btn">
                                            <p id="demo" class="button" onclick="myFunctionW20()">โปรแกรมจะพิมพ์ค่า 11 ออกมา</p>  
                                        </div>
                                    </div>
                                        
                                    </div>
                                </div>  
                            </div>
        
                <BR id="Explaining"> <br><br>
                <h2>Explaining</h2>
                <div class="game">
                    <!--* ข้อ 21 E1 *-->
                    <div class="gamecontent-E" style="height: auto">
                        <div  class="question-E" >
                        <h5>ข้อใดอธิบายโค้ดนี้ได้ถูกต้อง</h5>
                        <p>#include < stdio.h >
                        <br>int main() {
                        <br>&ensp;int a = 5;
                        <br>&ensp;if (a < 10)
                        <br>&ensp;&ensp;printf("A is less than 10");
                        <br>&ensp;return 0;
                        <br>}
        
                        </p>
                        <p style="text-align: center;" id="demo21"></p>
        
                        </div>
                        <div class="ans">
                            <div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionT21()">โปรแกรมจะพิมพ์ "A is less than 10" เพราะเข้าเงื่อนไข a น้อยกว่า 10</p>    
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW21()">โปรแกรมไม่พิมพ์อะไรเลย เพราะเข้าเงื่อนไข a มากกว่า 10</p>  
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW21()">โปรแกรมจะแสดงข้อผิดพลาด เพราะไม่มี else statement</p>  
                            </div>
                            <div class="btn">
                                <p id="demo" class="button" onclick="myFunctionW21()">โปรแกรมจะพิมพ์ "A is less than 10" ไม่ว่าค่า a จะเป็นเท่าใด</p>  
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
                    <div class="game">
                        <!--* ข้อ 22 E2 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int score = 75;
                            <br>&ensp;if (score >= 80) {
                            <br>&ensp;&ensp;printf("Grade A");
                            <br>&ensp;} else if (score >= 70) {
                            <br>&ensp;&ensp;printf("Grade B");
                            <br>&ensp;} else {
                            <br>&ensp;&ensp;printf("Grade C");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo22"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW22()">โปรแกรมจะพิมพ์ "Grade A" เพราะคะแนน 75 มากกว่าหรือเท่ากับ 80</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT22()">โปรแกรมจะพิมพ์ "Grade B" เพราะคะแนน 75 อยู่ระหว่าง 70 และ 80</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW22()">โปรแกรมจะพิมพ์ "Grade C" เพราะคะแนนน้อยกว่า 70</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW22()">โปรแกรมไม่พิมพ์อะไรเลย เพราะไม่มีคะแนนที่ตรงกับเงื่อนไข</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 23 E3 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int x = 10, y = 20;
                            <br>&ensp;if (x == y)
                            <br>&ensp;&ensp;printf("X and Y are equal");
                            <br>&ensp;else if (x > y)
                            <br>&ensp;&ensp;printf("X is greater than Y");
                            <br>&ensp;else
                            <br>&ensp;&ensp;printf("X is less than Y");
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo23"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW23()">โปรแกรมจะพิมพ์ "X and Y are equal" <br>เพราะเข้าเงื่อนไข x == y โดย x และ y มีค่าเท่ากัน</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW23()">โปรแกรมจะพิมพ์ "X is greater than Y" <br>เพราะเข้าเงื่อนไข x > y โดย x มีค่ามากกว่า y</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT23()">โปรแกรมจะพิมพ์ "X is less than Y" <br>เพราะไม่เข้าเงื่อนไขก่อนหน้าใดเลย โดย x มีค่าน้อยกว่า y</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW23()">โปรแกรมไม่พิมพ์อะไรเลย เพราะไม่มีเงื่อนไขที่ถูกต้อง</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    
                        <!--* ข้อ 24 E4 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int num = 15;
                            <br>&ensp;if (num % 2 == 0) {
                            <br>&ensp;&ensp;printf("Even");
                            <br>&ensp;} else {
                            <br>&ensp;&ensp;printf("Odd");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo24"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW24()">โปรแกรมจะพิมพ์ "Even" เพราะเข้าเงื่อนไข num % 2 == 0 <br>โดย num หารด้วย 2 ลงตัว</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT24()">โปรแกรมจะพิมพ์ "Odd" เพราะไม่เข้าเงื่อนไข num %2 == 0 <br>โดย num หารด้วย 2 ไม่ลงตัว</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW24()">โปรแกรมจะพิมพ์ "Odd" ไม่ว่าค่า num จะเป็นเท่าใด</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW24()">โปรแกรมไม่พิมพ์อะไรเลย เพราะไม่มี else statement</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 25 E5 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>อธิบายปัญหาของโค้ดนี้คืออะไร</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int a = 100;
                            <br>&ensp;if (a > 50) {
                            <br>&ensp;&ensp;printf("A is greater than 50 ");
                            <br>&ensp;&ensp;if (a > 75) {
                            <br>&ensp;&ensp;&ensp;printf("A is also greater than 75");
                            <br>&ensp;&ensp;}
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo25"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT25()">โปรแกรมจะพิมพ์ "A is greater than 50" และ "A is also greater than 75" <br>เพราะเข้าเงื่อนไขที่ a มากกว่า 50 และ a มากกว่า 75</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW25()">โปรแกรมจะพิมพ์ "A is greater than 50" เท่านั้น เพราะไม่มีเงื่อนไขที่ตรงกับ a > 75</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW25()">โปรแกรมจะพิมพ์ "A is also greater than 75" เพราะเข้าเงื่อนไขที่ a มากกว่า 75</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW25()">โปรแกรมไม่พิมพ์อะไรเลย เพราะเงื่อนไขไม่ถูกต้อง.</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 26 E6 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div class="question-E">
                            <h5>โค้ดนี้ตรวจสอบเงื่อนไขใดที่อนุญาตให้สามารถเข้าห้องสมุดได้</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int age = 20;
                            <br>&ensp;if (age < 18) {
                            <br>&ensp;&ensp;printf("Underage\n");
                            <br>&ensp;} else if (age >= 18 && age <= 65) {
                            <br>&ensp;&ensp;printf("Adult\n");
                            <br>&ensp;} else {
                            <br>&ensp;&ensp;printf("Senior\n");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo26"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW26()">โปรแกรมจะพิมพ์ "Underage" เพราะเข้าเงื่อนไขที่อายุน้อยกว่า 18</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT26()">โปรแกรมจะพิมพ์ "Adult" เพราะเข้าเงื่อนไขที่อายุระหว่าง 18 ถึง 65</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW26()">โปรแกรมจะพิมพ์ "Senior" เพราะไม่เข้าเงื่อนไขก่อนหน้านี้ใดเลย โดยมีอายุมากกว่า 65</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW26()">โปรแกรมไม่พิมพ์อะไรเลย เพราะไม่มีเงื่อนไขที่ตรงกับอายุ</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 27 E7 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>โค้ดนี้ตรวจสอบเงื่อนไขใดที่อนุญาตให้จบการศึกษาก่อนกำหนดได้</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int day = 3;
                            <br>&ensp;switch(day) {
                            <br>&ensp;&ensp;case 1:
                            <br>&ensp;&ensp;&ensp;printf("Monday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 2:
                            <br>&ensp;&ensp;&ensp;printf("Tuesday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 3:
                            <br>&ensp;&ensp;&ensp;printf("Wednesday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 4:
                            <br>&ensp;&ensp;&ensp;printf("Thursday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 5:
                            <br>&ensp;&ensp;&ensp;printf("Friday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 6:
                            <br>&ensp;&ensp;&ensp;printf("Saturday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 7:
                            <br>&ensp;&ensp;&ensp;printf("Sunday");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;default:
                            <br>&ensp;&ensp;&ensp;printf("Invalid day");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo27"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT27()">โปรแกรมจะพิมพ์ "Wednesday" เพราะเข้าเงื่อนไข case 3: เนื่องจาก day มีค่าเท่ากับ 3</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW27()">โปรแกรมจะพิมพ์ "Invalid day" เพราะไม่มีการตรงกับเงื่อนไขใดๆ</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW27()">โปรแกรมจะพิมพ์ "Monday" เพราะเข้าเงื่อนไข case 1: เนื่องจากเป็นค่าเริ่มต้น</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW27()">โปรแกรมจะไม่พิมพ์อะไรเลย เพราะไม่มี break statement</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 28 E8 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายการทำงานและผลลัพธ์ของโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;char option = 'c';
                            <br>&ensp;switch(option) {
                            <br>&ensp;&ensp;case 'a':
                            <br>&ensp;&ensp;&ensp;printf("Option A");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 'b':
                            <br>&ensp;&ensp;&ensp;printf("Option B");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 'c':
                            <br>&ensp;&ensp;&ensp;printf("Option C");
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;default:
                            <br>&ensp;&ensp;&ensp;printf("No Option");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo28"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW28()">โปรแกรมจะพิมพ์ "Option A" เนื่องจากเป็นค่าเริ่มต้น เข้าเงื่อนไข case ‘a’</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW28()">โปรแกรมจะพิมพ์ "Option B" เพราะเป็นค่าถัดไปหลังจาก 'a' เข้าเงื่อนไข case ‘b’</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT28()">โปรแกรมจะพิมพ์ "Option C" เพราะ option มีค่าเท่ากับ 'c' เข้าเงื่อนไข case ‘c’</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW28()">โปรแกรมจะพิมพ์ "No Option" เนื่องจากไม่ตรงกับเงื่อนไขใดๆ</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 29 E9 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายการทำงานและผลลัพธ์ของโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int x = 1, y = 2;
                            <br>&ensp;switch (x) {
                            <br>&ensp;&ensp;case 1:
                            <br>&ensp;&ensp;&ensp;switch (y) {
                            <br>&ensp;&ensp;&ensp;&ensp;case 2:
                            <br>&ensp;&ensp;&ensp;&ensp;&ensp;printf("y is 2\n");
                            <br>&ensp;&ensp;&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;&ensp;&ensp;default:
                            <br>&ensp;&ensp;&ensp;&ensp;&ensp;printf("Default\n");
                            <br>&ensp;&ensp;&ensp;{
                            <br>&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;case 2:
                            <br>&ensp;&ensp;&ensp;printf("x is 2\n");
                            <br>&ensp;&ensp;default:
                            <br>&ensp;&ensp;&ensp;printf("Other\n");
                            <br>&ensp;}
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo29"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT29()">โปรแกรมจะพิมพ์ "Grade A" เพราะคะแนน 75 มากกว่าหรือเท่ากับ 80</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW29()">โปรแกรมจะพิมพ์ "Grade B" เพราะคะแนน 75 อยู่ระหว่าง 70 และ 80</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW29()">โปรแกรมจะพิมพ์ "Grade C" เพราะคะแนนน้อยกว่า 70</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW29()">โปรแกรมไม่พิมพ์อะไรเลย เพราะไม่มีคะแนนที่ตรงกับเงื่อนไข</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    <div class="game">
                        <!--* ข้อ 30 E10 *-->
                        <div class="gamecontent-E" style="height: auto">
                            <div  class="question-E">
                            <h5>ข้อใดอธิบายโค้ดนี้ได้ถูกต้อง</h5>
                            <p>#include < stdio.h > 
                            <br>int main() {
                            <br>&ensp;int x = 5, y = 8;
                            <br>&ensp;if (x > 3) {
                            <br>&ensp;&ensp;switch (y) {
                            <br>&ensp;&ensp;&ensp;case 8:
                            <br>&ensp;&ensp;&ensp;&ensp;x += 4;
                            <br>&ensp;&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;&ensp;case 9:
                            <br>&ensp;&ensp;&ensp;&ensp;x += 3;
                            <br>&ensp;&ensp;&ensp;&ensp;break;
                            <br>&ensp;&ensp;&ensp;default:
                            <br>&ensp;&ensp;&ensp;&ensp;x += 2;
                            <br>&ensp;&ensp;}
                            <br>&ensp;} else {
                            <br>&ensp;&ensp;x -= 2;
                            <br>&ensp;}
                            <br>&ensp;printf("%d", x);
                            <br>&ensp;return 0;
                            <br>}
            
                            </p>
                            <p style="text-align: center;" id="demo30"></p>
        
                            </div>
                            <div class="ans">
                                <div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW30()">โปรแกรมจะพิมพ์ค่า 3 ออกมา เพราะเข้าเงื่อนไข x > 3 และเข้า case 8</p>    
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW30()">โปรแกรมจะพิมพ์ค่า 9 ออกมา เพราะเข้าเงื่อนไข x > 3 และเข้า case 9</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionW30()">โปรแกรมจะพิมพ์ค่า 7 ออกมา เพราะไม่เข้าเงื่อนไขใดเลย</p>  
                                </div>
                                <div class="btn">
                                    <p id="demo" class="button" onclick="myFunctionT30()">โปรแกรมจะพิมพ์ค่า 9 ออกมา เพราะเข้าเงื่อนไข x > 3 และเข้า case 8</p>  
                                </div>
                            </div>
                                
                            </div>
                        </div>
            
                    </div>
                    
        
                    <!--* writing *-->
                    <BR id="Writing"> <br><br>
                        <h2>Writing</h2>
                        <!--* 1 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1nrn_-5WGtfk3PNoXJA4LUfZeG2HRbEtb/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction1()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV1" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1psHJ5dnAQuLJS_o7DSb-ZscVfUlVuQqG/preview" width="640" height="480" allow="autoplay"></iframe> 
                                <iframe src="https://drive.google.com/file/d/1f1RO6KgAOQtn5paBy8iyK-b1o0nxutIS/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1P9DTXCVrOmuB1TGFN1XZ5evB1fjJZUWZ/preview" width="400" height="480" allow="autoplay"></iframe>

                        </div></div>
                        <!--* 2 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1wBpHK8c6b9PxbfitmU8fR8tkrUaKMFJ9/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction2()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV2" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/19-3rfFS_2hKGii8pQMb3TUSlIXZNkAux/preview" width="640" height="480" allow="autoplay"></iframe> 
                                <iframe src="https://drive.google.com/file/d/1aslmvLM23SFYR390HIn5dPY4CkFdHwS8/preview" width="400" height="480" allow="autoplay"></iframe>
                        </div></div>
                        <!--* 3 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/16v234BWe5VpMXgtdc1evsY182bjbQgYF/preview"  width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction3()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV3" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1CLjsAx4x9-J0pxT_tcuHj6WllyZh4p8X/preview" width="640" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1QaD8ZN3UvB5hFFc7zOkIT602lL_U8BVv/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1lSJpyYWztQ1lKzdiW1LAa5hS6DPklyme/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1fDrN1lpYxGLJ2sSU3kLNkFJ5wjT_T1Ab/preview" width="400" height="480" allow="autoplay"></iframe>
                            </div></div>
                        <!--* 4 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/16oUJKTWjyLs_HdkjyrI7WDjYKuw5w-Re/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction4()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV4" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1yraxgKqVwssd629A4rFP6Th5tLw0GzND/preview" width="640" height="480" allow="autoplay"></iframe>                
                                <iframe src="https://drive.google.com/file/d/1QaTbDh5Rq6EDJT0OUpzVv2iKhl0u4NkK/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/17sjHVGFruvKBMelRezkujCLOQUUtcWeN/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1qwrrjKqX7V4cvdM72ykmMlDaWVUI8shD/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1pgf3cfB0eE2c_ax1cq4TlXrdHNJ_aZiB/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1Goccxo1RSlROIcTr35F-XrN8ek6Qk0JB/preview" width="400" height="480" allow="autoplay"></iframe>

                        </div></div>
                        <!--* 5 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1vcPaH96vfsg2b-ehvw68Op-_G1RP6o8O/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction5()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV5" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1rMTOcGLwcYoxn_slN3g3KSrqpaf4J1f_/preview" width="640" height="480" allow="autoplay"></iframe>                
                                <iframe src="https://drive.google.com/file/d/1pzJJQDBGtOBNPHsaDniWMjxFDVXvkUes/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/11so7iaKF5yxFk9NgCMq9QIic6_PTkJ1S/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1XYa57kabjNBTypgt4ru_yPdqHjg9EosU/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/14rjXJZe-4oWiDiXmZ5OLXJ_Ll2BkBMML/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/12AANr9S9L2DGTa9B2P064XJQia83BZNK/preview" width="400" height="480" allow="autoplay"></iframe>
                        </div></div>
                        <!--* 6 *-->
                         <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1H8U39ih_yqPEwWNZpQiwmtNT2h6u0oaa/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction6()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV6" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1JxhxZ3HDSuAbSOvYcuM9PyJsVQuu3itE/preview" width="640" height="480" allow="autoplay"></iframe> 
                                <iframe src="https://drive.google.com/file/d/1-NmJEhMiR710Za9xYXItdTX3tIHlLAjy/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1ZzhqoDhFa5Z1nL6WC_ffIc1gQ8J0gfh5/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1rnRMLgDyLHPYsiC3cGuD6CVozCHOVRYs/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1CxIiIDFfAdKHb-Ga4wsEYHdKAzrh0pUE/preview" width="400" height="480" allow="autoplay"></iframe>
                        </div></div>
                        <!--* 7 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/158maNAzMefpl-jobVrJTqY-yghaCqjrZ/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction7()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV7" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1Pf_2en8b8XDDMIcv_dvKQrtQAjZ2qvly/preview" width="640" height="480" allow="autoplay"></iframe> 
                                <iframe src="https://drive.google.com/file/d/1Ilk8nnKBdNqQeOzTFapTBDX5MhzEgDA4/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1SSPwobQQlGqliJLxWZY89ouB_Gv9aJ0b/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1tV2Du0bU0ODb-DAVGi7_F2bYWTfq6eJz/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1ZLyvkn2vPUQExwQwd5vVtdJIH0WDQbE8/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1pUtL8BjLHglRqlUznFEtPMd-6dnMwlC6/preview" width="400" height="480" allow="autoplay"></iframe>
                        </div></div>
                        <!--* 8 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1wtXDa9lFOgIP7XlRYTnBU00mivnDeIyY/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction8()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV8" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1HEoLuSWuJg1MuSz6dgUyq8b7XaWNaWKY/preview" width="640" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1PUayxry-RkVpyucuatt4_IsOcSazMSiS/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1493bHL2UigdkoHeWrXZniPfvWtZfa3jd/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1zdpdWfiss0HO-kXN5j3Sip3dcyuZ7HF1/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1ifm7VyI5tpXeCsEgmgcy5tSxKgZ5R_67/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1VAtVLJjvBZ1rzYvSqw7gDdjLDiKufTP-/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1LKoiizp4W5UywAhrha4KdeKpvDcKO784/preview" width="400" height="480" allow="autoplay"></iframe>

                            </div></div>
                        <!--* 9 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1KagCeQmI838NFYYJgYrRsL8if5D9rIae/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction9()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV9" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/1K67xUgqKDmFj5kEdgK6tGYJriMoOCLLC/preview" width="640" height="480" allow="autoplay"></iframe>                
                                <iframe src="https://drive.google.com/file/d/1SlEgp9ek2yQfO9mD2GslcRXbPIo3_KqB/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1rTFFZGLif7Nd6H5xozLI3q69qbnPYM_c/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1eliN2lzXfNz__F6nB9Jb-jytS1_9gr7K/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1XgSWa6byALSlecL5_3g7rX_0oKdM5GKK/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1RCRo90fQQS2p1CDSNVeMmi6yUM42ZtBK/preview" width="400" height="480" allow="autoplay"></iframe>

                        </div></div>
                        <!--* 10 *-->
                        <div class="gamecontent-W">
                            <iframe src="https://drive.google.com/file/d/1EsLVcSGnHsLAanKyRibKuMrkq14s19BQ/preview" width="550" height="500" allow="autoplay"></iframe>
                            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="50%" height="500px"></iframe>  
                        </div>
                        <div class="gamecontent-W">
                            <button class="btn btn-info" onclick="myFunction10()">คลิกเพื่อดูเฉลย</button>
                            <div id="myDIV10" style="margin-top: 10px; display:none; align-items: flex-end;">
                                <iframe src="https://drive.google.com/file/d/17mzx1SMBUmWRAuYoSEqbl1399hUL7bjl/preview" width="640" height="480" allow="autoplay"></iframe>                
                                <iframe src="https://drive.google.com/file/d/11Z-FTC3tSNbzCYf0unDprv72Oj08G7sS/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1TsJC9VV86mCIXadMPlC1s7GfQIk_u2TL/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1b-QNl-WY0Z_0VRoz0Yjd8kpELIUDp1Bx/preview" width="400" height="480" allow="autoplay"></iframe>
                                <iframe src="https://drive.google.com/file/d/1zhdI6q1kH9X6tX4uZcOy9cQowvSJPBY8/preview" width="400" height="480" allow="autoplay"></iframe>

                        </div></div>

        
        <button onclick="window.location.href='/course-Selection_Statements-quiz'" type="button" class="btn btn-outline-secondary btn-lg btn-block bg-light shadow" style="color:black" >
        <h2><u>แบบทดสอบหลังเรียน</h2></u></button>

        <br></div>
    </div>
    </div>


    <!-- END Of MIDDLE  -->
    </body>
</html>


