<!doctype html>
<html lang="en">

    <head>
        <link rel='stylesheet' href='stylesheets/home.css' />
        <title>SUiiGAME</title>
    </head>

    <body>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .topbar{
                height: 70px;
                width: 100%;
                background-color: aqua;
                padding-top: 10px;
                text-align: center;
            }
            .content-area {
                padding: 50px;
            }
        </style>

        <div class="topbar">
            <h1>SUiiGAME</h1>
        </div>

        <div class="content-area">
            <img style="height: 300px;" src="https://cdn-icons-png.flaticon.com/512/9399/9399670.png" alt="">
        </div>



    </body>
</html>


